<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.cogitateapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cogitate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginLogin">
        <activity
            android:name=".interfaces.HelpandFeedback"
            android:exported="false" />
        <activity
            android:name=".interfaces.Contact_us"
            android:exported="false" />
        <activity
            android:name=".interfaces.setting_activity"
            android:exported="false" />
        <activity
            android:name=".interfaces.LevelsPage"
            android:exported="false" />
        <activity
            android:name=".interfaces.ZenPlayer"
            android:exported="false" />
        <activity
            android:name=".interfaces.FocusMode"
            android:exported="false" />
        <activity
            android:name=".interfaces.StandardMode"
            android:exported="false" />
        <activity
            android:name=".authenticator.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".authenticator.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authenticator.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.Dashboard"
            android:exported="false"
            android:theme="@style/DashBoardUI"/>
        <activity
            android:name=".interfaces.LandingPage"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>